@{
    Layout = "_Layout";
}
<partial name="_Breadcrumbs" />
<h2>@ViewBag.Section - @ViewBag.Title</h2>
<div class="row">
    <div class="col-4 col-xl-2 col-lg-3 col-md-3 col-sm-4">
        <partial name="_Nav" />
    </div>
    <div class="col-8 col-xl-10 col-lg-9 col-md-9 col-sm-8">
        @RenderBody()
    </div>
</div>
@section header
{
    <link rel="stylesheet" href="~/css/demos.css" />
    <link rel="stylesheet" href="~/css/htmlcode.css" />
}
