@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var pages = new NavPage[] {
        new NavPage { Caption = "Alerts", Page = "Alerts" },
        new NavPage { Caption = "Badges", Page = "Badges" },
        new NavPage { Caption = "Button Groups", Page = "ButtonGroup" },
        new NavPage { Caption = "Buttons", Page = "Buttons" },
        new NavPage { Caption = "Cards", Page = "Cards" },
        new NavPage { Caption = "Dropdowns", Page = "DropDowns" },
        new NavPage { Caption = "Input Groups", Page = "InputGroups" },
        new NavPage { Caption = "Progress Bars", Page = "ProgressBars" }
    };
}
<partial name="..\_Nav" />
<h4>Components</h4>
<ul class="nav flex-column">
    @foreach (var item in pages)
    {
        var current = Url.Page(item.Page) == Context.Request.Path;
        var _class = current ? "nav-link active": "nav-link";
        <li class="nav-item"><a class="@_class" asp-page="@item.Page">@item.Caption</a></li>
    }
    @*<li class="nav-item"><a class="nav-link" asp-page="Badges">Badges</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="ButtonGroup">Button Groups</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="Cards">Cards</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="Dropdowns">Dropdowns</a></li>*@
</ul>
