@page
@model WebPx.Web.Bootstrap.AspNetCore.DemoSite.Pages.Bootstrap.Components.AlertsModel
@{
    ViewBag.Title = "Alerts";
}
<div style="background-color:white; padding:10px;">
    <h5>Basic Alerts</h5>
    <div class="bd-example">
        <bs:alert>Alert</bs:alert>
    </div>
    <figure class="highlight">
        <pre><code html><!bs:alert>Alert</!bs:alert></code></pre></figure>
    <hr />
    <h5>Skinned Alerts</h5>
    <div class="bd-example">
        <bs:alert skin="Primary">A simple primary alert—check it out!</bs:alert>
        <bs:alert skin="Secondary">A simple secondary alert—check it out!</bs:alert>
        <bs:alert skin="Success">A simple success alert—check it out!</bs:alert>
        <bs:alert skin="Danger">A simple danger alert—check it out!</bs:alert>
        <bs:alert skin="Warning">A simple warning alert—check it out!</bs:alert>
        <bs:alert skin="Info">A simple info alert—check it out!</bs:alert>
        <bs:alert skin="Light">A simple light alert—check it out!</bs:alert>
        <bs:alert skin="Dark">A simple dark alert—check it out!</bs:alert>
    </div>
    <figure class="highlight">
        <pre><code html><!bs:alert skin="Primary">A simple primary alert—check it out!</!bs:alert>
<!bs:alert skin="Secondary">A simple secondary alert—check it out!</!bs:alert>
<!bs:alert skin="Success">A simple success alert—check it out!</!bs:alert>
<!bs:alert skin="Danger">A simple danger alert—check it out!</!bs:alert>
<!bs:alert skin="Warning">A simple warning alert—check it out!</!bs:alert>
<!bs:alert skin="Info">A simple info alert—check it out!</!bs:alert>
<!bs:alert skin="Light">A simple light alert—check it out!</!bs:alert>
<!bs:alert skin="Dark">A simple dark alert—check it out!</!bs:alert></code></pre>
        </figure>
        <hr />
        <h4>Additional content</h4>
        <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
        <div class="bd-example">
            <bs:alert skin="Success" dismiss="true">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </bs:alert>
        </div>
        <figure class="highlight">
    <pre><code html><!bs:alert skin="Success" dismiss="true">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</!bs:alert>
</code></pre>
    </figure>
    <hr />

    <h5>Dismisable Alerts</h5>
    <p>Using the alert JavaScript plugin, it’s possible to dismiss any alert inline. Here’s how:</p>
    <ul>
        <li>Be sure you’ve loaded the alert plugin, or the compiled Bootstrap JavaScript.</li>
        <li>If you’re building our JavaScript from source, it requires util.js. The compiled version includes this.</li>
        <li>Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding to the right of the alert and positions the .close button.</li>
        <li>On the dismiss button, add the <code>data-dismiss="alert" </code>attribute, which triggers the JavaScript functionality. Be sure to use the <code>&lt;button&gt;</code> element with it for proper behavior across all devices.</li>
        <li>To animate alerts when dismissing them, be sure to add the .fade and .show classes.</li>
    </ul>
    You can see this in action with a live demo:
    <div class="bd-example">
        <bs:alert skin="Warning" dismiss="true"><strong>Holy guacamole!</strong> You should check in on some of those fields below.</bs:alert>
    </div>
    <figure class="highlight">
        <pre><code html><!bs:alert skin="Warning" dismiss="true">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</!bs:alert></code></pre>
    </figure>
</div>
